<div class="main">
    <div class="header bg-color-red">
        <div class="header-container">
            <div class="header-title">
                Enchant
            </div>
        <img src="static/media/images/enchant-logo.png" class="header-logo"></img>
        </div>
    </div>
    <!-- <img class="bg" src="app/media/images/bg_001.jpg"></img> -->
    <canvas class="test-canvas" id="testCanvas" width="10" height="10"></canvas>
    <div class="container">
        <div class="jumbo fadeInDown">

            <div class="macro-caption">
                Your social network made fun.
            </div>

            <div class="micro-caption">
                Delight in how you connect, play, share, and create.
            </div>
        </div>

        <div ui-view></div>
    </div>
</div>